{% extends "blog/base.html" %}

{% block content %}

	<div class="jumbotron">
		<h1 class="display-4">{{ publication.title }}</h1>
		<p class="lead">
			Created at {{ publication.pub_date }} by
			<a href="{% url 'blog:user_publications' publication.user.username %}">{{ publication.user.username }}</a>
		</p>
		<p>{{ publication.body }}</p>
		{% if publication.user == user %}
			<div class="row">
				<a href="{% url 'blog:delete_publication' publication.publication_uid %}" class="col-md-2 pull-right">
					<button type="button" class="btn btn-primary btn-block">Delete</button>
				</a>
				<a href="{% url 'blog:update_publication' publication.publication_uid %}" class="col-md-2 pull-right">
					<button type="button" class="btn btn-primary btn-block">Update</button>
				</a>
			</div>
		{% endif %}
	</div>

	<h2>Comments:</h2>
	{% include "blog/card-list.html" %}

	<!-- Show Comment button only if User is authenticated -->
	{% if user.is_authenticated %}
		<a href="{% url 'blog:create_comment' publication.publication_uid %}" class="col-md-2 pull-right">
			<button type="button" class="btn btn-primary btn-block">Comment</button>
		</a>
	{% endif %}

	{% include "blog/pagination.html" %}

{% endblock content %}
